@model BookSmart.ViewModels.MemberBagViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<BookSmart.Models.ApplicationUser> userManager

<div class="container p-3">
    <h3 class="text-center">Your Book Bag</h3>
    <ul class="nav nav-tabs mt-3" id="bagTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="unconfirmed-tab" data-toggle="tab" href="#unconfirmed" role="tab" aria-controls="unconfirmed shipments" aria-selected="true">Unconfirmed Shipments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="confirmed-tab" data-toggle="tab" href="#confirmed" role="tab" aria-controls="confirmed shipments" aria-selected="false">Confirmed Shipments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="unscheduled-tab" data-toggle="tab" href="#unscheduled" role="tab" aria-controls="unscheduled books" aria-selected="false">Unscheduled Books</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="unconfirmed" role="tabpanel" aria-labelledby="unconfirmed-shipments-tab">
            @if (Model.UnconfirmedShipments.Count > 0)
            {
                <div class="row mt-3" id="unconfirmed-shipments">
                    @foreach (var shipBook in Model.UnconfirmedShipments)
                    {
                        <div class="text-center col-sm-4 mt-5" id="@shipBook.Book.Id">
                            <div id="text-@shipBook.Book.Id">
                                <img src="~/img/logo-small.svg" alt="@shipBook.Book.Name" />
                                <h5 class="mt-3">@shipBook.Book.Name</h5>
                                <p class="mb-1">@shipBook.Book.Author</p>
                                <p class="mb-1">@shipBook.Book.Genre.Name</p>
                                <p class="mb-0">Regular Price: <strike>$@shipBook.Book.Price</strike></p>
                                <p class="mb-1"><small><i> before membership discount</i></small></p>
                                <h5><i>Your Price: $@Math.Round((Model.DiscountRate * shipBook.Book.Price), 2)</i></h5>
                                <p class="mb-1 text-danger">Ship Date: @shipBook.ShipDate</p>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary mx-1" id="removeFromBagBtn" onclick="removeBookFromBag(@shipBook.Book.Id);">Remove From Bag</button>
                                <button type="button" class="btn btn-success mx-1" id="confirmShipmentBtn" onclick="confirmShipment(@shipBook.ShipId, @shipBook.Book.Id);">Confirm</button>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p class="mt-3">You have no unconfirmed shipments</p>
            }
        </div>
        <div class="tab-pane fade" id="confirmed" role="tabpanel" aria-labelledby="confirmed-shipments-tab">
            <div class="row mt-3" id="confirmed-shipments">

                @if (Model.ConfirmedShipments.Count > 0)
                {
                    @foreach (var shipBook in Model.ConfirmedShipments)
                    {
                        <div class="text-center col-sm-4 mt-5">
                            <img src="~/img/logo-small.svg" alt="@shipBook.Book.Name" />
                            <h5 class="mt-3">@shipBook.Book.Name</h5>
                            <p class="mb-1">@shipBook.Book.Author</p>
                            <p class="mb-1">@shipBook.Book.Genre.Name</p>
                            <p class="mb-0">Regular Price: <strike>$@shipBook.Book.Price</strike></p>
                            <p class="mb-1"><small><i> before membership discount</i></small></p>
                            <h5><i>Your Price: $@Math.Round((Model.DiscountRate * shipBook.Book.Price), 2)</i></h5>
                            <p class="mb-1 text-danger">Ship Date: @shipBook.ShipDate</p>
                        </div>
                    }
                }
                else
                {
                    <p class="mt-3" id="no-confirmed">You have no confirmed shipments</p>
                }
            </div>
            <hr />
            <p class="text-primary mt-3"><i>Note: Confirmed shipments are final</i></p>

        </div>
        <div class="tab-pane fade" id="unscheduled" role="tabpanel" aria-labelledby="unscheduled-books-tab">
            @if (Model.UnscheduledBooks.Count > 0)
            {
                <div class="text-center row mt-3" id="unscheduled-books">
                    @foreach (var book in Model.UnscheduledBooks)
                    {
                    <div class="text-center col-sm-4 mt-5 book" id="@book.Id">
                        <img src="~/img/logo-small.svg" alt="@book.Name" />
                        <h5 class="mt-3">@book.Name</h5>
                        <p class="mb-1">@book.Author</p>
                        <p class="mb-1">@book.Genre.Name</p>
                        <p class="mb-0">Regular Price: <strike>$@book.Price</strike></p>
                        <p class="mb-1"><small><i> before membership discount</i></small></p>
                        <h5><i>Your Price: $@Math.Round((Model.DiscountRate * book.Price), 2)</i></h5>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary mx-1" id="removeFromBagBtn" onclick="removeBookFromBag(@book.Id);">Remove From Bag</button>
                            <a class="btn btn-success mx-1" id="calendarLink" asp-route-id="@userManager.GetUserId(User)" asp-controller="Shipment" asp-action="Calendar">Schedule</a>
                        </div>

                    </div>
                    }
                </div>
            }
            else
            {
                <p class="mt-3">You have no unscheduled books</p>
            }
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/removeFromBag.js"></script>
    <script src="~/js/confirmFromBag.js"></script>
}
