@model BookSmart.Models.Member

<div class="container p-3">
    <h3 class="text-center">Your Book Bag</h3>
    @if (Model.Books.Count > 0)
    {
        <div class="text-center row mt-3">
            @foreach (var book in Model.Books)
            {
                <div class="text-center col-sm-4 mt-5">
                    <img src="~/img/logo-small.svg" alt="@book.Name"/>
                    <h5 class="mt-3">@book.Name</h5>
                    <p class="mb-1">@book.Author</p>
                    <p class="mb-1">@book.Genre.Name</p>
                    <p class="mb-0">@book.Price</p>
                    <p><small><i> before membership discount</i></small></p>
                    <button type="button" class="btn btn-primary mx-1" id="removeFromBagBtn" onclick="removeBookFromBag(@book.Id);">Remove From Bag</button>
                </div>
            }
        </div>
    }
    else
    {
        <p>Your Book Bag Is Empty</p>
    }
</div>

@section Scripts{
    <script src="~/js/removeFromBag.js"></script>
}
