@model BookSmart.ViewModels.MemberFilterViewModel

<div class="container p-3">
    <div class="row">
        <div class="mb-3 col-md-12 btn-group">
            <a asp-controller="Account" asp-action="Register" class="btn-secondary form-control text-center col-md-2">Add Admin</a>
            <a class="btn btn-primary col-md-2 offset-md-1 ml-3" asp-controller="Account" asp-action="Register">Add Member</a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="mb-3 col-md-12">
            <h2 class="text-primary d-inline pr-3">Members</h2>
            <select class="text-primary col-4 offset-md-1 d-inline form-control mr-2" id="memberFilter"
                    asp-items="@Model.MemberFilters">
                <option class="genreOption" selected value="none">--Filter--</option>
            </select>
            <a class="btn btn-primary mb-1 text-white cursor-pointer" id="applyFilter" asp-controller="Member" asp-action="Index">Apply Filter</a>
            <a class="btn btn-outline-primary mb-1 cursor-pointer" id="filterReset" asp-controller="Member" asp-action="Index">Reset Filter</a>
        </div>
        <div class="col-6 text-right">

        </div>
    </div>
    @if (Model.Members.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Membership Type</th>
                    <th>Books Remaining</th>
                    <th>Last Login</th>
                    <th>Update/Delete</th>
                    <th>Shipments</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Members)
                {
                    <tr id="@member.Name" class="member">
                        <td width="20%">@member.Name</td>
                        <td width="20%">@member.MembershipType.Name</td>
                        <td width="10%">@member.BooksRemaining</td>
                        <td width="20%">@(((DateTime)member.LastLogin).ToShortDateString())</td>
                        <td width="20%">
                            <div class="w-100 btn-group" role="group">
                                <a class="btn btn-primary mx-1" asp-route-id="@member.Id" asp-controller="Member" asp-action="Update">Update</a>
                                <a class="btn btn-danger mx-1" asp-route-id="@member.Id" asp-controller="Member" asp-action="Delete">Delete</a>
                            </div>
                        </td>
                        <td width="10%">
                            <a class="btn btn-primary mx-1" asp-route-id="@member.Id" asp-controller="Shipment" asp-action="Calendar">Shipments</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <p><small>Page <span class="currentPage">@Model.Members.CurrentPage</span> of <span class="totalPages">@Model.Members.TotalPages</span> pages</small></p>
            <ul class="pagination justify-content-center">
                <li class="page-item" id="first">
                    <a class="page-link" asp-controller="Member" asp-action="Index" asp-route-pageNumber="1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @for (var i = 0; i < @Model.Members.TotalPages; i++)
                {
                    <li class="page-item pageBtn" data-page="@(i+1)"><a class="page-link" asp-controller="Member" asp-action="Index">@(i+1)</a></li>
                }
                <li class="page-item" id="last">
                    <a class="page-link" asp-controller="Member" asp-action="Index" asp-route-pageNumber="@Model.Members.TotalPages" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>No members in the database</p>
    }
</div>

@section Scripts {
    <script src="~/js/pagination.js"></script>
    <script src="~/js/memberFilter.js"></script>
}

