@model BookSmart.Utility.PagedList<BookSmart.Models.Member>

<div class="container p-3">
    <div class="col-3">
        <a asp-controller="Account" asp-action="Register" class="btn-secondary form-control text-center">Admin registration</a>
    </div>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Members</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Add Member</a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Membership Type</th>
                    <th>Books Remaining</th>
                    <th>Last Login</th>
                    <th>Update/Delete</th>
                    <th>Shipments</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)
                {
                    <tr>
                        <td width="20%">@member.Name</td>
                        <td width="20%">@member.MembershipType.Name</td>
                        <td width="10%">@member.BooksRemaining</td>
                        <td width="20%">@member.LastLogin</td>
                        <td width="20%">
                            <div class="w-100 btn-group" role="group">
                                <a class="btn btn-primary mx-1" asp-route-id="@member.Id" asp-controller="Member" asp-action="Update">Update</a>
                                <a class="btn btn-danger mx-1" asp-route-id="@member.Id" asp-controller="Member" asp-action="Delete">Delete</a>
                            </div>
                        </td>
                        <td width="10%">
                            <a class="btn btn-primary mx-1" asp-route-id="@member.Id" asp-controller="Shipment" asp-action="Calendar">Shipments</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <p><small>Page <span class="currentPage">@Model.CurrentPage</span> of <span class="totalPages">@Model.TotalPages</span> pages</small></p>
            <ul class="pagination justify-content-center">
                <li class="page-item" id="first">
                    <a class="page-link" asp-controller="Member" asp-action="Index" asp-route-pageNumber="1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @for (var i = 0; i < @Model.TotalPages; i++)
                {
                    <li class="page-item pageBtn" data-page="@(i+1)"><a class="page-link" asp-controller="Member" asp-action="Index" asp-route-pageNumber="@(i + 1)">@(i+1)</a></li>
                }
                <li class="page-item" id="last">
                    <a class="page-link" asp-controller="Member" asp-action="Index" asp-route-pageNumber="@Model.TotalPages" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>No members in the database</p>
    }
</div>

@section Scripts {
    <script src="~/js/pagination.js"></script>
}

